@media only screen and (min-width: 1040px) {
	header[role="banner"]						{ position: fixed; top: 0; }
	.centerHelper								{ width: $mainWrapperMaxWidth + $column-gutter; }
	nav .centerHelper							{ width: $mainWrapperMaxWidth; height: $menuHeight; margin-top: $headerHeight; }
	nav li										{ float: left; }
	#mainColumn									{ float: left; width: $mainColumnMaxWidth / $mainWrapperMaxWidth *100%; }
	#subColumn									{ float: right; width: $subColumnMaxWidth / $mainWrapperMaxWidth *100%; }

}

@media only screen and (min-width: 760px) and (max-width: 1039px) {
	#userPanel									{ width: 260px; }
	.centerHelper								{ width: $mainColumnMaxWidth - $column-gutter; }
	#mainWrapper								{ width: $mainColumnMaxWidth - $column-gutter; }
	#mainColumn									{ width: $mainColumnMaxWidth; }
}

@media only screen and (min-width: 655px) and (max-width: 759px) {
	#userPanel									{ width: 260px; }
	#mainWrapper								{ width: 600px; }
	#mainColumn									{ width: 620px; }
}

@media only screen and (max-width: 655px) {
	#mainWrapper								{ width: 420px; }
	#mainColumn									{ width: 440px; }

	#agendaList .innerWrapper					{ padding: $innerPadding; padding-top: 0; }
	#agendaList li:first-child .innerWrapper	{ padding-top: $innerPadding; }
	#agendaList article							{ height: 179px; padding-left: 0; padding-bottom: $innerPadding; }
	#agendaList article > p						{ padding-left: 160px; }
	#agendaList img								{ width: 60px; height: 60px; top: 58px; }
	#agendaList header div						{ width: 70px; height: 110px; top: 58px; left: 70px; }
	#agendaList .tag							{ top: 120px; left: 182px; }
	#agendaList .addToCart:link,
	#agendaList .canceled .addToCart			{ width: auto; }
}