@media only screen and (min-width: 1040px) {
	header[role="banner"]						{ position: fixed; top: 0; }
	.centerHelper								{ width: $mainWrapperMaxWidth + $column-gutter; }
	nav .centerHelper							{ width: $mainWrapperMaxWidth; height: $menuHeight; margin-top: $headerHeight; }
	nav li										{ float: left; }
	#mainColumn,
	.detailWrapper.noModal .mainColumn			{ float: left; width: $mainColumnMaxWidth / $mainWrapperMaxWidth *100%; }
	#subColumn									{ float: right; width: $subColumnMaxWidth / $mainWrapperMaxWidth *100%; }

	.page #mainColumn							{ width: 800px / $mainWrapperMaxWidth *100%; max-width: 800px; }
	.page #subColumn							{ width: 200px / $mainWrapperMaxWidth *100%; }

}

@media only screen and (min-width: 760px) and (max-width: 1039px) {
	#userPanel									{ width: 260px; }
	.centerHelper								{ width: $mainColumnMaxWidth - $column-gutter; }
	#mainWrapper								{ width: $mainColumnMaxWidth - $column-gutter; }
	#mainColumn,
	.page #mainColumn							{ width: $mainColumnMaxWidth; }
}

@media only screen and (min-width: 655px) and (max-width: 759px) {
	#userPanel									{ width: 260px; }
	#mainWrapper								{ width: 600px; }
	#mainColumn,
	.page #mainColumn							{ width: 620px; }
}

@media only screen and (max-width: 655px) {
	#mainWrapper								{ width: 420px; }
	#mainColumn,
	.page #mainColumn							{ width: 440px; }

	#agendaList .innerWrapper					{ padding: 0 $innerPadding; }
	#agendaList li:first-child .innerWrapper	{ padding-top: $innerPadding; }
	#agendaList article							{ height: 179px; padding-left: 0; padding-bottom: $innerPadding; }
	#agendaList article > p						{ padding-left: 160px; height: 16px*5; }
	#agendaList img,
	#agendaList .contextImgWrapper				{ width: 60px; height: 60px; top: 58px; }
	#agendaList .contextImgWrapper img			{ top: 0; }
	#agendaList header div						{ width: 82px; height: 110px; top: 58px; left: 70px; z-index: 2; }
	#agendaList .tag							{ top: 144px; left: 160px; }
	#agendaList .addToCart:link,
	#agendaList .noOrder .addToCart				{ width: auto; }
	#agendaList .contextImgWrapper span			{ bottom: 0; }
}