/* Concertgebouw Brugge */

@import "config";
@import "config-external";

/******************************************************************************
*
* GENERAL
*
******************************************************************************/

// Grid override
 .large-half							{ width: 50%; }
 .large-one-third						{ width: 33.333333%; }
 .large-one-fourth						{ width: 25%; }

// noscreen
 .noscr,
 #languageSwitcher span					{ @include visuallyHidden; }

.innerWrapper {
	background-color: $colorGrayScaleG;
	margin-bottom: $column-gutter;
	padding: $innerPadding;

	h2									{ margin: 0; }
}





/******************************************************************************
*
* TYPOGRAPHY
*
******************************************************************************/

// logo
 #logoAnchor							{ text-transform: uppercase; }
 #logoAnchor h1							{ font-family: "avenir_lt_pro95_black"; font-size: em-calc($h2Fontsize); line-height: 1; }
 #logoAnchor span						{ font-family: "avenir_lt_pro65_medium"; }

// headings
 h1										{ line-height: 1.1875; }
 h2										{ line-height: 1.1923; }
 h3										{ line-height: 1.1818; }
 h4										{ line-height: 1.2105; }
 h5										{ line-height: 1.25; }





/******************************************************************************
*
* LAYOUT
*
******************************************************************************/

/* header */
#header {
	width: 100%;
	height: $headerHeight;
	position: fixed;
	background-color: $colorGrayScaleG;
	z-index: 2;
}

#userPanel {
	& > section { position: absolute; }

	.inline-list {
		margin: 0;

		li { margin: 0; }
	}
}

#languageSwitcher {
	$posHelper:				5px;

	top: 10px;
	right: $posHelper;

	li + li					{ border-left: #000 1px solid; }
	a						{ line-height: 1; padding: 0 $posHelper; }
}

#socialMedia				{ top: 30px; right: 10px; }
#cartAndWishlist			{ width: 180px; height: 60px; right: 100px; }

#winkelkarTitle,
#verlanglijstTitle			{ width: 180px; height: 30px; position: absolute; border: #000 1px solid; border-top: none; }

#winkelkarTitle				{ top: 0; }
#verlanglijstTitle			{ bottom: 0; }

#userName					{ min-width: 180px; }

/*****************************************************************************/

/* main */
#main {
	padding-top: $headerHeight + $menuHeight;
}

.concertList,
.newsItemList {
	list-style: none;
	padding: 0;
}

/*****************************************************************************/


/* footer */
#footer {
	width: 100%;
	color: $colorGrayScaleE;
	

	.footerWrapper {
		padding-top: 30px;
		background: $colorGrayScaleBAlt;

		.footerLast {
			padding-right: $column-gutter * 3;
		}

	}

	.sponsor {

		.columns:first-child {

			.innerWrapper {
				border-top: none;
			}
		}

		.columns:last-child {
			
			.innerWrapper {
				border-bottom: $colorGrayScaleE 1px solid;
			}
		}
	}

	.innerWrapper {
		padding-top: 10px;
		padding-left: 0;
		border-top: $colorGrayScaleE 1px solid;
		background: inherit;
	}
}

#toggleFooter {
	background-color: $colorGrayScaleA;

	.innerWrapper {
		margin-bottom: 0;
		border-top: none;
	}
}

/*****************************************************************************/
@import "_breakpoints.scss";


